body{

    background-color: #252525;

}

h1{

    color: #FCFCFC;
    font-weight: 700;
    font-size: 3rem;
}

h2{

    color: #FCFCFC;
    font-weight: 400;
    font-size: 2rem;
    align-self: flex-start;

}

h3{

    align-self: flex-start;
    color: #B5B5B5;
    font-size: 14px;

}

p, a{

    color: #B5B5B5;
    font-weight: 300;
    align-self: flex-start;
    font-size: 1.5rem;

}

section{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 80%;
    align-items: start;
    gap: 20px;

}

header{

    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid #B5B5B5;

    ul{

        display: flex;
        gap: 20px;
        padding-right: 30px;

    }

    a:hover{

        transition: 0.1s;
        color: white;

    }

}

main{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.dev-image{

    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    border: 3px solid #B5B5B5;
    background-image: url('/assets/dev/dev.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.hero{

    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.text{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 10px;


    h2{
        align-self: center;
    }

    p{
        width: 80%;
        align-self: center;
        text-align: center;
    }

}

.cards{

    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.card{

    width: 35vw;
    height: 60vh;
    border: 1px solid #B5B5B5;
    border-radius: 10px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    img{

        width: 100%;
    }
}

.text-card{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    h2{
        font-size: 1.2rem;
    }
    
    p{
        font-size: 1rem;
    }
    
    div{
    
        display: flex;
        gap: 10px;
        align-self: flex-start;
        p{
    
            color: #FCFCFC;
            background-color: #454545;
            font-size: 0.8rem;
            padding: 5px 10px;
        }
    }
}

.habilidades{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    img{
        height: 80%;
        width: 80%;
        object-fit: contain;
    }
}

.card-hab{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
    div{
        
        background-color: #454545;
        width: 10vw;
        height: 8vh;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: 0.3s;
        
    }

    div:hover{
    
        transition: 0.1s;
        background-color: #B5B5B5;
        height: 10vh;
        padding: 5px 20px;
    
    }

    h3{

        align-self: center;

    }
}

.redes{

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #B5B5B5;
        width: 10vw;
        border-radius: 15px;
    }

    img{
        padding: 10px 30px;
        height: 6vh;
        width: 6vh;

    }
}
