body{

    background-color: #252525;

}

h1, h2{

    color: #FCFCFC;

}

p, a{

    color: #B5B5B5;

}

header{

    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #25252574;
    border-bottom: 1px solid #B5B5B5;

    ul{

        display: flex;
        gap: 20px;
        padding-right: 30px;

    }

    a:hover{

        transition: 0.1s;
        color: white;

    }

}

main{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.dev-image{

    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    border: 3px solid #B5B5B5;
    background-image: url('/assets/dev/dev.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.hero{

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 90vh;

}

.text{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 10px;

    h1{

        font-size: 40px;
        font-weight: 700;
    }

    h2{

        font-weight: 500;

    }

    p{

        width: 80%;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
    }

}

.projetos{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    gap: 20px;

    h3{

        align-self: flex-start;
        color: #B5B5B5;
        font-size: 14px;
    }

    h2{

        align-self: flex-start;
        font-size: 32px;
        font-weight: 500;
    }   
}

.cards{

    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.card{

    width: 35vw;
    height: 60vh;
    border: 1px solid #B5B5B5;
    border-radius: 10px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    img{

        width: 100%;
    }
}

.text-card{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    h2{
    
        font-size: 16px;
        font-weight: 500;
        align-self: flex-start;
    
    }
    
    p{
    
        font-size: 14px;
        font-weight: 300;
        align-self: flex-start;
    
    }
    
    div{
    
        display: flex;
        gap: 10px;
        align-self: flex-start;
        p{
    
            color: #FCFCFC;
            background-color: #454545;
            font-size: 8px;
            font-weight: 300;
            padding: 5px 10px;
        }
    }
}

.sobre{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    gap: 20px;

    h3{

        align-self: flex-start;
        color: #B5B5B5;
        font-size: 14px;
    }

    h2{

        align-self: flex-start;
        font-size: 32px;
        font-weight: 500;
    }
    
    p{

        color: #FCFCFC;

    }
}

.habilidades-cards{

    display: flex;
    width: 100%;
    justify-content: space-between;

    div{

        background-color: #454545;
        width: 10vw;
        padding: 5px 0px;
        height: 8vh;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    div:hover{

        transition: 0.1s;
        background-color: #B5B5B5;
        height: 10vh;
        padding: 5px 20px;

    }

    img{

        height: 100%;

    }
}

.contatos{

    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;


    h3{

        align-self: flex-start;
        color: #B5B5B5;
        font-size: 14px;
    }

    h2{

        align-self: flex-start;
        font-size: 32px;
        font-weight: 500;
    }
    
    p{

        font-size: 24px;
        width: 50%;
    }


}



.Redes{

    display: flex;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: 80%;

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #B5B5B5;
        width: 10vw;
        border-radius: 15px;
    }

    img{
        padding: 10px 30px;
        height: 6vh;
        width: 6vh;

    }
}
