@media (max-width: 720px) {

    h1{

        font-size: 2rem;

    }

    h2{

        font-size: 1rem;

    }

    p,a{

        font-size: 1.1rem;

    }

    section{

        width: 90%;

    }

    header{

        justify-content: center;

        ul{

            padding-right: 0px;

        }
    }

    .hero{

        flex-direction: column-reverse;
        justify-content: center;
    }

    .dev-image{

        width: 50vw;
        height: 50vw;

    }

    .text{

        width: 100%;

    }

    .cards{

        flex-direction: column;
        gap: 30px;
    }

    .card{

        width: 100%;
        height: 35vh;

    }

    .sobre{

        gap: 30px;

    }

    .habilidades{

        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;

    }


    .card-hab{

        div{

            width: 100%

        }

    }

    .redes{

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        div{

            align-self: center;
            width: 100%;
        }
    }

}