header{

    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #0b032d;
    border-bottom: 1px solid #a833b9;

}

nav{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

}

a{
    font-family: "Michroma", sans-serif;
    color: #f4e9cd;
    font-size: 24px;

}

body{

    background-color: #0b032d;
    color: #f4e9cd;
    overflow: auto;
    scrollbar-width: 0px;
}

body::-webkit-scrollbar{

  display: none;
  
}

main{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.apresentacao{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
    height: 100vh;
    border-bottom: 3px solid #a833b9;
    
}

.formacao{

    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-bottom: 3px solid #a833b9;

}

.texto{

    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.titulo{

    display: flex;
    flex-direction: column;
    padding-left: 110px;
}

h1{

    font-family: "Bebas Neue", sans-serif;
    font-size: 48px;
}

h2{

    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    text-align: center;
}

.cargo{

    padding-right: 130px;

}

p{

    font-family: "Michroma", sans-serif;
    text-align: justify;
    line-height: 24px;

}

.imagem{

    width: 400px;
    height: 400px;
    background-color: #f4e9cd;
    background-image: url(./assets/Thyago-img.jpg);
    background-size: cover;
    border-radius: 200px;
    border: 5px solid #a833b9;
    box-shadow: 3px 1px 50px #a833b9;

}

.cards{

    display: flex;
    flex-direction: column;
    gap: 30px;

}

.card{

    width: 50vw;
    height: 20vh;
    border: 1px solid #a833b9;
    border-left: 8px solid #a833b9;
    box-shadow: 3px 1px 10px #a833b9;
    border-radius: 10px;
    line-height: 50px;
    padding: 25px 50px;
   
}



.contatos{
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;


}

.contato{

    border: 1px solid #a833b9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 3px 1px 10px #a833b9;



}

.icon{

    width: 80px;
}